/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

main {
    position: relative;
    top: 55px;
}

.allo{
    height: 100%;
    width: 100%;
    background: url(http://www.allwhitebackground.com/images/6/Professional-Powerpoint-Background-High-Quality-Image.jpg);
}