<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="search">
<br>
<img class="gender" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Pink_Venus_symbol.svg">
<br>
<h3 style="margin-left:38%">Sofiya Taver</h3>

<h6 style="margin-left:43%"><i>20 years old</i></h6>
<br>
<h6>Looking for:</h6>
<div style="background-color:#D3D3D3"> #Hackaton #Programmer #ConUHack </div>
<br><br>
<h6>Description:</h6>
<div style="background-color:#D3D3D3"> Hi guys,<p>&nbsp;I'm a software engineering student and I'm looking for a teammate for ConUHacks 2020. </p></div>
<button style="margin-left:170px; height:45px; width:55px; background-color:#ff8080"class="fa fa-close"></button> 
<button style="margin-left:100px; height:45px; width:55px; background-color:#99e699" class="fa fa-check"></button>
<br><br>
</div>

<h2>All hashtags</h2>
<ul>
    <li *ngFor="let hashtag of hashtags">
      #{{hashtag.name}}
    </li>
</ul>
